/* index.css 파일 */

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100); /* 100vh 대신 실제 뷰포트 높이 */
  overflow: hidden; /* 스크롤바를 숨김 */
}

/* @font-face 규칙을 사용하여 Pretendard 폰트 정의 */
@font-face {
  font-family: 'PretendardRegular';
  src: url('./assets/fonts/pretendard_regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardBold';
  src: url('./assets/fonts/pretendard_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardSemiBold';
  src: url('./assets/fonts/pretendard_semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* :root에서 전역적으로 컬러 변수를 선언 */
:root {
  --red: #F85C5C;   /* 토마토 */
  --white: #FFFFFF; /* 스틸블루 */
}

/* 모든 요소에 Pretendard 폰트 적용 */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', Arial, sans-serif;
}