.mapContainer {
    position: relative;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
}

.searchAndNavigate {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
}

.searchButton {
    flex: 1;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-right: 20px;
    background-color: var(--white);
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.3) !important;
    font-family: PretendardRegular, sans-serif;
    text-align: left;
    color: var(--lightgray);
    padding-left: 20px;
    cursor: pointer; /* 커서 모양을 포인터(손가락 모양)로 설정 */
}

.navigateButton {
    width: 54px;
    height: 54px;
    background: rgba(255, 255, 255, 0);
    cursor: pointer; /* 커서 모양을 포인터(손가락 모양)로 설정 */
}

.dialogButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    width: 54px;
    height: auto;
    cursor: pointer; /* 커서 모양을 포인터(손가락 모양)로 설정 */
}

.scrollbar{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    right: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    overflow: visible;
}

.scrollbarItem{
    cursor: pointer; /* 커서 모양을 포인터(손가락 모양)로 설정 */
    height: auto;
    width: auto;
    background: var(--white);
    border-radius: 20px;
    padding: 5px 12px 5px 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3) !important;
    margin-right: 20px;
    white-space: nowrap;
    font-family: PretendardRegular, sans-serif;
    color: var(--gray);
    font-size: 12px;
    border: 0;
}

.scrollbarItem:active{
    background: var(--red);
    color: var(--white);
}

.homeLayout{
    position: absolute;
    top: 50px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}