.menuItem {
    display: flex;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    align-items: center;
}


.menuName {
    color: var(--red);
    font-family: PretendardSemiBold, serif;
    margin-left: 10px;
}

.menuPrice {
    color: var(--red);
    font-family: PretendardRegular, serif;
    margin-left: auto;
}

.restaurantIcon {
    height: 20px;
    width: 20px;
}