.menu-screen {
    font-family: 'Pretendard', Arial, sans-serif;
    background-color: var(--white);
    max-width: 500px;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.back-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.restaurant-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}


.menu-list {

}

.menu-container{
    margin-left: 30px;
    margin-right: 30px;
}

